/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.main-section {
  padding-top: 200px;
  min-height: 95vh;
  background-image: url("images/Illustration-header.svg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right top;
}
