/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

nav {
  background: #3e3c3c;
}

.navbar-brand {
  padding-left: 100px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}

.nav-link {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.navbar-nav {
  padding-right: 100px;
}

.main-section {
  padding-block: 200px;
  height: auto;
  background-image: url("images/illustration-header.svg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right top;
  background-color: #1c1a19;
}

h1 {
  color: #f55800;
  font-weight: normal;
  font-size: 72px;
  width: 566px;
  height: 160px;
  font-family: 'Crete Round', serif;
}

.job_title {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
}

.description {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
}

.icons-container {
  width: 50px;
}

.text-container {
  margin-left: 60px;
  margin-top: -75px;
}

/* Work section */

.work-section {
  margin-top: 100px;
}

.title-container h2 {
  margin-left: 25px;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
}

.hero-project {
  margin-top: 80px;
}

.hero-project .text-container .title {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
}

.hero-project .text-container .description {
  font-family: 'Inter', serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  color: #091e42;
}

.hero-project .text-container .technologies {
  list-style: none;
  margin-left: -30px;
}

.technologies li {
  border: 1px solid #8993a4;
  font-size: 15px;
  font-family: 'Inter', serif;
  line-height: 20px;
  height: 40px;
  padding: 10px 12px 10px 12px;
}

.see-project-btn {
  background: #f55800;
}

.hero-project .text-container .see-project-btn {
  padding: 12px;
  max-width: 150px;
  font-family: 'Inter', serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
}

.card_width {
  width: 18rem;
}

.about-section {
  background-image: url("images/illustration-about-me.svg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right top;
  background-color: #1c1a19;
}
